<div class = 'container'>
  <div class = 'child'>
    <h1>これ何パン？</h1>
    <%= form_tag(check_answer_question_path, method: :post) do %>
      <p><%= image_tag @question.bread_image, size: '400x400' %></p>
      <%= radio_button_tag :answer, @question.option1 %>
      <%= label_tag :answer, @question.option1 %><br>
      <%= radio_button_tag :answer, @question.option2 %>
      <%= label_tag :answer, @question.option2 %><br>
      <%= radio_button_tag :answer, @question.option3 %>
      <%= label_tag :answer, @question.option3 %><br>
      <%= submit_tag "回答" %>
    <% end %>

    <% if @show_image %>
      <%= image_tag "amazing.png" %>
    <% end %>
  </div>
</div>