<div class = 'container'>
  <div class = 'child'>
    <h1>これ何パン？</h1>
    <%= form_with url: check_answer_question_path(@question), method: :post do |form| %>
      <%= hidden_field_tag :question_id, @question.id %>
      <%= image_tag @question.bread_image, size: '400x400' %><br>
      <%= radio_button_tag :selected_answer, @question.option1 %>
      <%= @question.option1 %><br>
      <%= radio_button_tag :selected_answer, @question.option2 %>
      <%= @question.option2 %><br>
      <%= radio_button_tag :selected_answer, @question.option3 %>
      <%= @question.option3 %><br>
      <%= image_submit_tag("answer.png") %>
    <% end %>
  </div>
</div>